body {
  margin: 0;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
/* header */
.logo-icon {
  position: relative;
  width: 56px;
  height: 56px;
  object-fit: cover;
  transition: 0.3s ease;
}
.logo :hover{
  transform: scale(1.2);
}
.headerItem {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #d9d9d9;
  transition: 0.3s ease;
}
.headerItem:hover {
  text-decoration: none;
  color: #05f26c;
  transform: scale(1.2);
}
.headerItemmain {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #d9d9d9;
  transition: 0.3s ease;
}
.headerItemmain:hover {
  transform: scale(1.2);
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  transition: 0.3s ease;
}
.horizontalspacer {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cheader {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  align-self: stretch;
  background-color: #1e1e1e;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Bebas Neue";
}
.headerplace {
  align-self: stretch;
  background-color: #1e1e1e;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
._ {
  position: relative;
}
._:active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://github.com/Abeehimr/eggs/blob/main/run.gif?raw=true') center center no-repeat;
  background-size: flex;
  z-index: 1;
}


/* body */
.h1 {
  position: relative;
  white-space: pre-wrap;
}
.arrow-back-ios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.arrow {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 34px;
  height: 165px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: 0.3s;
  color: #d9d9d9;
}
.arrow:hover {
  background-color: #262626;
}
.icon {
  position: relative;
  width: 300px;
  height: 398.77px;
  object-fit: cover;
  transition: 1s;
}
.icon :hover{
  transform: scale(1.05);
}
.form {
  position: relative;
  text-transform: uppercase;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: 1s;
}
.parent :hover{
  transform: scale(1.05);
}
.form1 {
  position: relative;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: #fff;
  font-family: "Bebas Neue";
}
.subgroups1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  font-size: 35px;
  font-family: "Zen Dots";
}
.img-icon {
  position: relative;
  border-radius: 19px 0 0 0;
  width: 154px;
  height: 152px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: fill;
}
.manager {
  position: relative;
}
.manager-wrapper {
  align-self: stretch;
  flex: 1;
  border-radius: 0 0 0 19px;
  background-color: #1e1e1e;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 10px;
}
.img-parent {
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.sbox {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.vline {
  align-self: stretch;
  position: relative;
  border-right: 2px solid #03a64a;
  box-sizing: border-box;
  width: 2px;
}
.stbox {
  flex: 1;
  border-radius: 0 19px 19px 0;
  background-color: #1e1e1e;
  height: 206px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 25px;
}
.frame-parent {
  align-self: stretch;
  height: 206px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  border-radius: 19px;
  box-shadow: 0 0 0px rgba(5, 242, 108, 0);
  transition: 1s;
}
.frame-parent:hover {
transform: scale(1.08);
box-shadow: 0 0 20px rgba(5, 242, 108, 0.2);
}
.g {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  font-family: "Bebas Neue";
}
.subgroups2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 35px;
  font-family: "Zen Dots";
}
.h12 {
  position: relative;
  font-size: 35px;
  font-family: "Zen Dots";
  white-space: pre-wrap;
}
.name {
  flex: 1;
  position: relative;
}
.nbox {
  align-self: stretch;
  flex: 1;
  border-radius: 0 0 0 19px;
  background-color: #1e1e1e;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 10px;
  gap: 10px;
}
.g1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subgroups3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.nbox7 {
  flex: 1;
  border-radius: 0 0 0 19px;
  background-color: #1e1e1e;
  width: 154px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 10px;
  box-sizing: border-box;
  gap: 10px;
}
.span {
  text-decoration: underline;
}
.tnsberg {
  color: inherit;
}
.subgroups {
  width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}
.main {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 70px 450px;
}
.f21-child {
  align-self: stretch;
  position: relative;
  border-right: 1px solid #03a64a;
  box-sizing: border-box;
  width: 1px;
}
.link1 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link2 {
  width: 29px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.f21-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;
  gap: 20px;
}
.g14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.players {
  position: relative;
  background-color: #151515;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  color: #d9d9d9;
  font-family: "Bebas Neue";
}


/* footer */

.footer {
  align-self: stretch;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  font-size: 15px;
}
.f1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logos {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
  gap: 30px;
  transition: 1s;
}
.logos :hover {
  transform: rotate(360deg);
}

.footersupporters-icon {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  fill: #b4b4b4;
  transition: 1s;
}
.footersupporters-icon :hover {
  transform: rotate(360deg);
}
.h2container-child {
  align-self: stretch;
  position: relative;
  border-top: 2px solid #03a64a;
  box-sizing: border-box;
  height: 2px;
}
.linkicons-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;
  gap: 20px;
}
.linkicons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 682.530029296875px 0 682.52001953125px;
  gap: 15px;
}
.en2 {
  position: relative;
  font-size: 14px;
  line-height: 16.52px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  color: #151515;
  text-align: left;
  display: inline-block;
  max-height: 16.520000457763672px;
}
.en1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.9500007629394531px 0 0;
}
.en {
  cursor: pointer;
  border: none;
  padding: 12px;
  background-color: #03a64a;
  border-radius: 25px;
  width: 75px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
  transition: 0.3s;
}
.en:hover {
  transform: scale(1.2);
  background-color: #05f26c;
}
.vline {
  align-self: stretch;
  position: relative;
  border-right: 1px solid #03a64a;
  box-sizing: border-box;
  width: 1px;
}
.footericon {
  position: relative;
  width: 23.47px;
  height: 23.99px;
  object-fit: cover;
}
.footeritem {
  cursor: pointer;
  border: none;
  padding: 12px;
  background-color: #03a64a;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: 0.3s;
}
.footeritem:hover {
  transform: scale(1.2);
  background-color: #05f26c;
}
.footertext {
  position: relative;
  text-transform: uppercase;
  font-family: "Bebas Neue";
}
.footerlist {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
